body {
  font: 100% 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  background: #f3f3f3;
}

h1, h2 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  width: 360px;
  margin: 20px auto;
  text-shadow: #fff 0 1px 1px;
}

h2 {
  margin: 0;
  margin-bottom: 5px;
  color: #999;
  font-size: 1.4em;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #8ebe00;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

form {
  background: #fff;
  width: 400px;
  margin: 20px auto;
  -webkit-box-shadow: rgba(0,0,0,.1) 1px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.1) 1px 1px 3px;
  -ms-box-shadow: rgba(0,0,0,.1) 1px 1px 3px;
  -o-box-shadow: rgba(0,0,0,.1) 1px 1px 3px;
  box-shadow: rgba(0,0,0,.1) 1px 1px 3px;
}

.row {
  padding: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.actions {
  padding: 20px;
  border-bottom: none;
  border-top: 1px solid #fff;
  background: #f9f9f9;
}

.actions p {
  margin-bottom: 0;
}

input[type=text], textarea {
  border: 1px solid #ddd;
  border-top-color: #bbb;
  padding: 5px;
  width: 348px;
  font-size: 1em;
  line-height: 1.5em;
}

textarea {
  max-width: 348px;
}

input[type=submit], input[type=reset] {
  background: #8ebe00;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.1) 50%, rgba(0,0,0,.05) 50%, rgba(0,0,0,.3));
  background-image: -moz-linear-gradient(rgba(255,255,255,.1) 50%, rgba(0,0,0,.05) 50%, rgba(0,0,0,.3));
  background-image: -ms-linear-gradient(rgba(255,255,255,.1) 50%, rgba(0,0,0,.05) 50%, rgba(0,0,0,.3));
  background-image: -o-linear-gradient(rgba(255,255,255,.1) 50%, rgba(0,0,0,.05) 50%, rgba(0,0,0,.3));
  background-image: linear-gradient(rgba(255,255,255,.1) 50%, rgba(0,0,0,.05) 50%, rgba(0,0,0,.3));
  padding: .5em 1em;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  text-shadow: rgba(0,0,0,.3) 0 -1px 0;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  -ms-border-radius: .3em;
  -o-border-radius: .3em;
  border-radius: .3em;
  border: 1px solid #709d18;
  -webkit-box-shadow: rgba(255,255,255,.5) 0 1px 0 inset, rgba(0,0,0,.3) 0 1px 5px;
  -moz-box-shadow: rgba(255,255,255,.5) 0 1px 0 inset, rgba(0,0,0,.3) 0 1px 5px;
  -ms-box-shadow: rgba(255,255,255,.5) 0 1px 0 inset, rgba(0,0,0,.3) 0 1px 5px;
  -o-box-shadow: rgba(255,255,255,.5) 0 1px 0 inset, rgba(0,0,0,.3) 0 1px 5px;
  box-shadow: rgba(255,255,255,.5) 0 1px 0 inset, rgba(0,0,0,.3) 0 1px 5px;
}

input[type=reset] {
  background-color: #A73F30;
  border-color: #8D3C30;
}

input[type=submit]:active, input[type=reset]:active {
  background-image: none;
  color: rgba(255,255,255,.8);
}